/* IBM_Plex_Sans_Arabic */

@font-face {
    font-family: IBM_Plex_Sans_Arabic;
    src: url('../IBM_Plex_Sans_Arabic,Merriweather,Nunito_Sans,Red_Hat_Mono,Roboto_Slab/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf');
}

/* Merriweather */

@font-face {
    font-family: IBM_Plex_Sans_Arabic;
    src: url('../IBM_Plex_Sans_Arabic,Merriweather,Nunito_Sans,Red_Hat_Mono,Roboto_Slab/Merriweather/Merriweather-Regular.ttf');
}

/* Nunito_Sans */

@font-face {
    font-family: Nunito_Sans;
    src: url('../IBM_Plex_Sans_Arabic,Merriweather,Nunito_Sans,Red_Hat_Mono,Roboto_Slab/Nunito_Sans/NunitoSans-Bold.ttf');
}

/* Nunito_Sans */

@font-face {
    font-family: Red_Hat_Mono;
    src: url('../IBM_Plex_Sans_Arabic,Merriweather,Nunito_Sans,Red_Hat_Mono,Roboto_Slab/Nunito_Sans/NunitoSans-Regular.ttf');
}

/* Nunito_Sans */

@font-face {
    font-family: Roboto_Slab;
    src: url('../IBM_Plex_Sans_Arabic,Merriweather,Nunito_Sans,Red_Hat_Mono,Roboto_Slab/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}