<footer class="footer">
    <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
            <h2>About Us</h2>
            <p>This Blog was created as a way to show my progress throughout my time coding. This blog will have posts to show my many ventures. I will also show all of the errors that i encounter and how i fixed them. My goal with this blog is to document my progress that way i can look back at my progress. I also wish to show cool projects and inspire people to do the same.</p>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Follow us</h2>
            <p>Let us be social</p>
            <div>
                <div class="social text-gray">
                    <a href="https://www.facebook.com/profile.php?id=100069571806038"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/seesiish/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://mobile.twitter.com/liebert_samuel"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCOqBCouYjYVbEFUh8-vHicQ"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>